<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
   <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
   @* @Styles.Render("~/Content/css")*@

    <link href="/Content/css/bootstrap.css" rel="stylesheet"/>
<link href="/Content/css/bootstrap-theme.css" rel="stylesheet"/>
<link href="/Content/site.css" rel="stylesheet"/>

    @if (!ViewContext.RouteData.Values["controller"].Equals("Home"))
    {
        <style type="text/css">
            body {
                background-image: url('/Content/images/wood.jpg');
            }
        </style>
    }
    
</head>
<body>
   
        <div class="col-lg-2 col-md-1 hidden-sm"></div>
         <div class="col-lg-8  col-md-10 col-xs-12 col-sm-12">
          @RenderBody()
             </div>
         <div class="col-lg-2 col-md-1 hidden-sm"></div>
 
  

    @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery-printElement-min.js"></script>
    <script src="~/Scripts/p1.js"></script>
    @RenderSection("scripts", required: false)

<script>
    $('.collapse').on('shown.bs.collapse', function () {
       
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function () {

        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });


    $('#myCollapsible').collapse({
        toggle: false
    });


</script>


        <script type="text/javascript">

  var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-46196298-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
